<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form">
        {% csrf_token %}
        <label > Name :</label>
        <input type="text" name="name" id="name">
        <label>Email :</label>
        <input type="text" name="email" id="email">
        <button>Submit</button>
    </form>
 <script>

    document.getElementbyID("form").addEventListener("click" , async function(e){
        e.preventDefault()
        
        const formData=new FormData(this);

        let response = await fetch("{% url 'save_user_api' %}" , {
            method : "POST",
            body : "formData"
        });
    let result = await response.json()
                if (result.status === "success") {
                window.location.href = "{% url 'success' %}";
            } else {
                alert("Error: " + result.message);
            }
        });

 </script>
</body>
</html>